
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
/* .article{
    
    
    
    
    background-color: #e0e0f8;
    font-family: Arial, sans-serif ;
  
  } */

  
/* .article {
  background-color: #ffe6e6;
  flex: 3;
  padding: 20px;
  margin-right: 20px;
} */
.article-article-a {
    /* display: flex; */
    flex:1.5;
    justify-content: center;
    align-items: center;
    height: 100hv;
    width: 100%;
    background-color: #ae63e7;
    background-image: url(../../assets/article.png);
    padding: 20px;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
    border-radius: 20px;
  }
  
  .article-title-article-a  {
    text-align: center;
    margin-bottom: 20px;
    font-family: "modak", cursive;
    font-weight: 200;
    color:#9239d6;
    font-size: 3em;
    text-shadow: 1px 1px 2px #fff,
    1px 1px 2px #fff;
  }
  
  .container-article-a  {
    display: flex;
    justify-content: center; /* Centrar las tarjetas */
    gap: 20px; /* Añade un poco de espacio entre las tarjetas */
    width: auto;
  }
  
 
  

  
  