@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.container-article  {
    display: flex;
    justify-content: center;
    gap: 10px; /* Añade un poco de espacio entre las tarjetas */
    color:#d662a4;
    
  }
  
  .card-article {
    position: relative;
    left: 0px;
    background-color: #fff;
    width: 220px; 
    height: auto; 
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    /* margin-left: -50px; */
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    transition: transform 0.3s, left 0.3s;
    padding: 20px;
    text-align: center; 
  }

  .card-article:not(:first-child) {
    margin-left: -50px;
  }

  .card-article:hover{
    transform: translateY(-20px);
  }

  .card-article:hover ~ .card-article{
    left: 50px;
  }
  
  .card-article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px; 
  }
  
  .card-article  h2 {
    margin: 10px 0; 
    font-family: serif;
    color:#c596e8;
    font-family: "laila", sans-serif;
    font-weight: 700;
  }
  
  .card-article  p {
    margin: 10px 0; 
    color:#d662a4;
    font-family: "mulish", sans-serif;
  }
  
  .card-article :first-child {
    margin-left: 0;
  } 

  .text-main{
    color:#f15bb0
  }
  
 
  
 
  