
.content {
    background: linear-gradient( 135deg, #d18bbb , #f9ceb9, #bdb6d7, #9fd7ea, #e6abbf);
    border-radius: 20px;
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    font-family: "Varela Round",Nunito,Montserrat,sans-serif;;
    color:#9239d6
  }
  
  .breadcrumb, .content-info, .content-main {
    /* background-color: green; */
    
    padding: 10px;
  }
  
  .breadcrumb-selected {
    margin-top: -20px;
    text-align: center;
    font-family: "modak", cursive;
    font-weight: 200;
    color:#9239d6;
    font-size: 3em;
    text-shadow: 1px 1px 2px #fff,
    1px 1px 2px #fff;
    padding: 10px;
  }

  .content-main {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    flex-wrap: wrap; /* Permite que los elementos se alineen en varias filas si no caben en una sola */
  }

  

  /* .sidebar {
    background-color: #ccffe6;
    flex: 1;
    padding: 20px;
  } */