.body-services{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 750px;
    background-color: #7e3285;
    
    
    color: #333;

}

.container-services{
    width: 100%;
    height: 50%;
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 20px;
    background: #7e3285;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.header-services{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    height: 80px;
    margin-top: 20px;
    background-color: transparent;
    
}

.header-services h1{
    font-size: 1.5em;
    
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Kalnia Glaze", cursive; */
    font-family: "Lexend", cursive;
    font-weight: 600;
   

}

.my-services{
    color:#fff;
}

.services-services{
    color:#f8d90f;
    transform: translateX(5%);
}

.card-services-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 90%;
    display: flex;
}