.footer-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* */
}

.footer-footer {
    background-color: #cce6ff;
    padding: 20px 0;
    color: #e36387;
    font-family: "Calistoga", sans-serif;
    border-radius: 10px;
    margin-top: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-logo  {
    
    color: black;
    text-shadow: 1px 1px 2px #fff,
                1px 1px 2px #ef8e73;
}
.footer-logo img{
    height: 40px;
    width: 40px;

}

.footer-footer-nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #e36387;;
    font-weight: bold;
    font-family:"Varela Round",Nunito,Montserrat,sans-serif;
}

.footer-nav a:hover {
    color: #007bff;
}

.footer-footer-social a {
    margin: 0 10px;
}

.footer-footer-social img {
    height: 20px;
}

.footer-footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
}