@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.body-card-container {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3c0c0; /* Fondo general */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    border-radius: 20px;
    z-index: -2;
}

.container-card-container{
    background-color: #f197a3;
    border-radius: inherit;
    padding: 20px;
    text-align: center;
    width: 90%;
    height: 90%;
    max-width: 4000px;
    z-index: 0;
    
}


.container-card-container h2 {
    color: linear;
    margin: 0px 100px 0px 110px;
    text-align: left;
    font-family: "Modak", system-ui;
    background: linear-gradient(to left, #580c4a 70%,#e25a8e,#6a47c7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 80px;

}

.cards-container-card-container{
    
    display: flex;
    justify-content: space-around;
}
